<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi portfolio</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"> 
        <link rel="stylesheet" href="../static/css/flat-remix.css">
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <div class="wrapper">
            <header class="header">M<span class="headerlogo">D</span>M</header>
            <nav class="navbar">
                <a class="navbar_a" href="../../index.html">Inicio</a>
                <a class="navbar_a" href="biografia.html">Biografía</a>
                <a class="navbar_a" href="portfolio.html">Portfolio</a>
                <a class="navbar_a" href="contacto.html">Contacto</a>
            </nav>
            <main class="main-bio">
                <div class="content">
                    <h1 class="presentacion-bio">Sobre<span class="nombre"> mí </span></h1>
                    <p class="bio">Soy Manuel Diestre Morcillo, un Full Stack Developer en transición desde el sector de la Arquitectura Técnica, donde acumulé más de 6 años de experiencia gestionando proyectos y coordinando equipos. Mi pasión por la tecnología me llevó a especializarme en desarrollo web, completando dos bootcamps donde adquirí habilidades en JavaScript (React, Node, Express), Python (Flask), bases de datos como MySQL y MongoDB, y herramientas como Docker.</p>
                    <p  class="bio">Me considero una persona perseverante y resolutiva, con un enfoque constante en el aprendizaje y el crecimiento. Estoy motivado por los proyectos innovadores y desafiantes, y busco aplicar mis habilidades tanto técnicas como de gestión en el desarrollo de soluciones web.</p>
                    <img class="img-bio" src="/static/images/4956914_2595429.jpg">
                </div>
            </main>
        </div>
        <footer class="pie-pagina">Portfolio - Manuel Diestre Morcillo 2024 - Web Developer Full Stack Junior</footer>
    </body>
</html>