<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi portfolio</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"> 
        <link rel="stylesheet" href="/static/css/flat-remix.css">
        <link rel="stylesheet" href="/static/css/styles.css">
        
    </head>
    <body>
        <header>Portfolio Manuel Diestre Morcillo-2024</header>
        <nav class="navbar">
            <a href="index.html">Inicio</a>
            <a href="biografia.html">Biografía</a>
            <a href="portfolio.html">Portfolio</a>
            <a href="contacto.html">Contacto</a>
        </nav>
        <main>
            <h1>Biografía</h1>
            
        </main>
        <footer class="pie-pagina">Portfolio - Manuel Diestre Morcillo 2024 - Web Developer Full Stack Junior</footer>

    <!-- <script>
        function load_templates() {
            document.getElementById("header").innerHTML =
            "<object data='components/header.html'>";
                document.getElementById("navbar").innerHTML =
            "<object data='components/navbar.html'>";
            document.getElementById("footer").innerHTML =
            "<object data='components/footer.html'>";
        }
        load_templates();
    </script> -->
</body>
</html>