<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mi portfolio</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"> 
        <link rel="stylesheet" href="../static/css/flat-remix.css">
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <div class="wrapper">
            <header class="header">M<span class="headerlogo">D</span>M</header>
            <nav class="navbar">
                <a class="navbar_a" href="../../index.html">Inicio</a>
                <a class="navbar_a" href="biografia.html">Biografía</a>
                <a class="navbar_a" href="portfolio.html">Portfolio</a>
                <a class="navbar_a" href="contacto.html">Contacto</a>
            </nav>
            <main class="main-contacto">
                <h2>Formulario de contacto:</h2>
                <form class="formulario">
                    <label for="nombre" >Nombre completo: </label>
                    <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                    <label for="mail">Correo Electrónico: </label>
                    <input type="email" name="mail" id="mail" placeholder="Mail">
                    <label for="asunto">Asunto:</label>
                    <select name="asunto" id="asunto">
                        <option value="Contratar servicios">Contratar servicios</option>
                        <option value="Consulta Técnica">Consulta Técnica</option>
                        <option value="Concertar entrevista">Concertar entrevista</option>
                    </select>
                    <label for="textarea"> En que puedo ayudarte:</label>
                    <textarea name="" id="texto" cols="30" rows="10" placeholder="Escribe aquí el motivo de tu contacto..."></textarea>
                    <button>Enviar</button>
                </form>

            </main>
        </div>
        <footer class="pie-pagina">Portfolio - Manuel Diestre Morcillo 2024 - Web Developer Full Stack Junior</footer>
    </body>
</html>