<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi portfolio</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/proyecto.html">Proyectos</a></li>
                <li><a href="/experiencia.html">Experiencia</a></li>
                <li><a href="/contacto.html">Contacto</a></li>

            </ul>
        </nav>
    </header>
    <main>
        <h1>Bienvenidos a mi página personal</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto maxime, nam, a sed consequatur tenetur doloribus architecto aspernatur pariatur, quis illum. Laboriosam facere libero similique, error placeat nesciunt! Voluptatem, aut.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis officia laboriosam dolorum accusantium necessitatibus totam accusamus nulla dignissimos rem excepturi enim sit dolorem dolore ab inventore, adipisci voluptatum nesciunt dicta?</p>
    </main>
    <footer>
        <p>Esta página es de libre uso</p>
    </footer>
</body>
</html>